* {
  margin: 0 auto;
  max-width: 1440px;
}

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Style */

.display-flex {
  display: flex;
}
.dark-01 {
  color: #131313;
}
.dark-02 {
  color: #424242;
}
.dark-03 {
  color: #727272;
}
.bg-color {
  background-color: rgba(255, 144, 14, 0.1);
}
.feature-color {
  color: #ff900e;
}
.w-color {
  color: #ffffff;
}
.btn {
  padding: 20px 25px;
  background-color: #ff900e;
  border: none;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 50px;
  font-size: 1.25rem;
  font-weight: 700;
}

/* Own Style */
header {
  /* margin-top: 50px; */
}
.nav-container {
  padding: 50px auto;
}

.nav-menu .nav-items a {
  text-decoration: none;
}
.nav-menu .nav-items {
  list-style: none;
  margin-right: 30px;
}
.nav-bar {
  align-items: center;
  margin-bottom: 100px;
  padding-top: 50px;
}
.hero-container {
  text-align: center;
}
.hero-title {
  font-size: 4rem;
}
.hero-description {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 400;
}
.hero-title,
.hero-description {
  width: 60%;
  max-width: 862px;
}

.hero-img {
  padding-bottom: 45px;
}
